<div id="<%= dom_id food_recipe %>">
  <p>
    <strong>Food:</strong>
    <%= food_recipe.food_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= food_recipe.ingredient_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= food_recipe.description %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= food_recipe.instruction %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= food_recipe.author_id %>
  </p>

</div>
