<%= form_with(model: food_recipe) do |form| %>
<% if food_recipe.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(food_recipe.errors.count, "error") %> prohibited this food_recipe from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% food_recipe.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :food_id, class: label_class %>
          <%= form.select :food_id, options_from_collection_for_select(Food.all,'id','name',select = food_recipe.food_id), class:label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :ingredient_id, class: label_class %>
          <%= form.text_field :ingredient_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :description, class: label_class %>
          <%= form.text_field :description, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :instruction, class: label_class %>
          <%= form.text_field :instruction, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :author_id, class: label_class %>
          <%= form.text_field :author_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if food_recipe.persisted? %>
<%= link_to "Cancel", food_recipe, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", food_recipes_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
